$oocss(){
  .mid{width:980px;margin:0 auto;}
  .mids{position:absolute;top:0;left:50%;width:980px;margin-left:-490px;}
  .no_txt{overflow:hidden;font-size:0;line-height:0;text-indent:-9999px;}
  .clear{clear:both;}
  .clearfix:after{display:block;clear:both;height:0;content:'';}
  .clearfix{\*zoom:1;}
  .txt_cut{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
  .por{position:relative;}
  .poa{position:absolute;}
  .pos{position:static;}
  .dis_i{display:inline !important;}
  .dis_b{display:block !important;}
  .dis_ib{display:inline-block !important;}
  .nobgcolor{background-color:#fff !important;}
  .f_n{float:none !important;}
  .f_l{float:left !important;}
  .f_r{float:right !important;}
  .m_0{margin:0 !important;}
  .m_t_10{margin-top:10px !important;}
  .m_b_0{margin-bottom:0 !important;}
  .m_b_10{margin-bottom:10px !important;}
  .m_b_20{margin-bottom:20px !important;}
  .m_b_30{margin-bottom:30px !important;}
  .m_b_40{margin-bottom:40px !important;}
  .m_b_50{margin-bottom:50px !important;}
  .m_t_0{margin-top:0 !important;}
  .m_t_10{margin-top:10px !important;}
  .m_t_20{margin-top:20px !important;}
  .m_t_30{margin-top:30px !important;}
  .m_t_40{margin-top:40px !important;}
  .m_t_50{margin-top:50px !important;}
  .m_r_0{margin-right:0 !important;}
  .m_r_10{margin-right:10px !important;}
  .m_r_20{margin-right:20px !important;}
  .m_r_30{margin-right:30px !important;}
  .m_r_40{margin-right:40px !important;}
  .m_r_50{margin-right:50px !important;}
  .m_l_10{margin-left:10px !important;}
  .m_l_20{margin-left:20px !important;}
  .m_l_30{margin-left:30px !important;}
  .m_l_40{margin-left:40px !important;}
  .m_l_50{margin-left:50px !important;}
  .p_0{padding:0 !important;}
  .p_b_0{padding-bottom:0 !important;}
  .p_b_10{padding-bottom:10px !important;}
  .p_b_20{padding-bottom:20px !important;}
  .p_b_30{padding-bottom:30px !important;}
  .p_b_40{padding-bottom:40px !important;}
  .p_b_50{padding-bottom:50px !important;}
  .p_l_10{padding-left:10px !important;}
  .p_l_20{padding-left:20px !important;}
  .p_l_30{padding-left:30px !important;}
  .p_l_40{padding-left:40px !important;}
  .p_l_50{padding-left:50px !important;}
  .p_r_10{padding-right:10px !important;}
  .p_r_20{padding-right:20px !important;}
  .p_r_30{padding-right:30px !important;}
  .p_r_40{padding-right:40px !important;}
  .p_r_50{padding-right:50px !important;}
  .p_t_0{padding-top:0 !important;}
  .p_t_10{padding-top:10px !important;}
  .p_t_20{padding-top:20px !important;}
  .p_t_30{padding-top:30px !important;}
  .p_t_40{padding-top:40px !important;}
  .p_t_50{padding-top:50px !important;}
  .b_0{border:0 none !important;}
  .b_r_0{border-right:0 none !important;}
  .b_l_0{border-left:0 none !important;}
  .b_b_0{border-bottom:0 none !important;}
  .w_a{width:auto !important;}
  .t_a_c{text-align:center !important;}
  .t_a_l{text-align:left !important;}
  .t_a_r{text-align:right !important;}
}