/*Version 150116*/
@import "variables"

//建立 BFC 清除元素内部的浮动，使元素获得应有的高度。
$clearfix()
  &:before,
  &:after
    display: table
    content: ""
  &:after
    clear: both
    if $support-old-ie
      \*zoom: 1
// 设定元素的尺寸，一个参数为正方形，两个参数分别为宽高
$size(size, height = size) {
  width size
  height height
}
//rem换算
$margin-rem() {
  val = ''
  for n in arguments {
    val = val+ unit(n /$default-font-size, rem) + ' '
  }
  margin: s(val)
}
$margin-top-rem() {
  margin-top: unit(arguments /$default-font-size, rem)
}
$margin-right-rem() {
  margin-right:it(arguments /$default-font-size, rem)
}
$margin-bottom-rem() {
  margin-bottom: unit(arguments /$default-font-size, rem)
}
$margin-left-rem() {
  margin-left: unit(arguments /$default-font-size, rem)
}
$padding-rem() {
val = ''
for n in arguments {
  val = val+ unit(n /$default-font-size, rem) + ' '
}
padding: s(val)
}
$padding-top-rem() {
  padding-top: unit(arguments /$default-font-size, rem)
}
$padding-right-rem() {
  padding-right:it(arguments /$default-font-size, rem)
}
$padding-bottom-rem() {
  padding-bottom: unit(arguments /$default-font-size, rem)
}
$padding-left-rem() {
  padding-left: unit(arguments /$default-font-size, rem)
}
$top() {
  top: unit(arguments /$default-font-size, rem)
}
$right() {
  right:it(arguments /$default-font-size, rem)
}
$bottom() {
  bottom: unit(arguments /$default-font-size, rem)
}
$left() {
  left: unit(arguments /$default-font-size, rem)
}